# Godot 4+ specific ignores
.godot/
/android/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore log files
*.log
logs/
ASM67_2026_06_21.zip
sounds/music/topsy.wav.import
sounds/music/washington_square.wav.import
sounds/music/yegelle_tezeta.wav.import
sounds/voice/sm_he_must_be_around_here_somewhere.wav.import
widgets/plotter.png.import
docs/spiderman_1967_50_villain_chapter_plan.xlsx.inspect.ndjson
images/bolton_boomer.png.import
images/brutus.png.import
images/charles_cameo.png.import
images/clive_blotto.png.import
images/conners_reptiles.png.import
images/conquistador.png.import
images/desperado.png.import
images/devargas.png.import
images/doctor_atlantean.png.import
images/doctor_cool.png.import
images/doctor_dumpty.png.import
images/dr_magneto.png.import
images/dr_manta.png.import
images/dr_von_schlick.png.import
images/dr_zapp.png.import
images/fakir.png.import
images/fiddler.png.import
images/harley_clivendon.png.import
images/igor.png.import
images/infinata.png.import
images/kotep.png.import
images/master_technician.png.import
images/master_vine.png.import
images/metal_eating_robot.png.import
images/molemen.png.import
images/noah_boddy.png.import
images/pardo.png.import
images/plotter.png.import
images/plutonians.png.import
images/professor_pretorius.png.import
images/sir_galahad.png.import
images/skymaster.png.import
images/snowman.png.import
images/spider_men.png.import
images/spider_slayer.png.import
images/super_swami.png.import
images/von_rantenraven.png.import
sounds/music/action_line.wav.import
sounds/music/anji.wav.import
sounds/music/aztec.wav.import
sounds/music/beat_girl.wav.import
sounds/music/besame_mucho.wav.import
sounds/music/blood_and_black_lace.wav.import
sounds/music/bongo_rock.wav.import
sounds/music/clasical_gas.wav.import
sounds/music/conquistador.wav.import
sounds/music/danube_incident.wav.import
sounds/music/death_have_no_mercy.wav.import
sounds/music/diamond_head.wav.import
sounds/music/don_and_dewey.wav.import
sounds/music/fbi.wav.import
sounds/music/happy_go_lively.wav.import
sounds/music/la_buritta.wav.import
sounds/music/moon_godess.wav.import
sounds/music/motorcycle_circus.wav.import
sounds/music/peace_pipe.wav.import
sounds/music/sleepwalk.wav.import
sounds/music/spooky.wav.import
sounds/music/sunflower.wav.import
sounds/music/tall_cool_one.wav.import
sounds/music/the_enchanted_sea.wav.import
sounds/music/the_hearse.wav.import
sounds/music/the_ox.wav.import
sounds/music/the_shadows.wav.import
ASM67_2026_08_08_7pm.zip
